{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/main">サンプルアプリ</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/main">成績を見る</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main">問題を解く</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main">問題を作る</a>
                </li>
            </ul>
        </div>
    </nav>
	</header>

    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

	<footer>
	</footer>

    {% block extra_js %}
    {% endblock %}
</body>

</html>